@font-face {
    font-family: FingerPaint;
    src: url(fontes/FingerPaint-Regular.ttf);} /*Fonte do header*/

/*          Geral           */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: rgb(214, 245, 255);
}
/*--------------------------*/

/*          Header          */

header{
    background-color: #ffa500;
    position: relative;
    min-height: 160px;
    width: 100%;
    text-align: center;
}
header h1{
    color: #000000;
    padding-top: 50px;
    font-size: 3.5em;
    font-family: cursive;
    font-weight: bolder;
}
/*          Login           */
#login{
    position: absolute;
    right: 2%;
    top: 3%;
}
#login a{
    text-decoration: none;
    color: black;
    text-shadow: .5px .5px 2px rgb(90, 90, 90);
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: .4s;
    padding-left: 15px;
}
#login a:hover{
    color: #ffffff;
    text-decoration: none;
}
/* Pagina Login e Register  */
label{
    margin-bottom: 10px;
    width: 100%;
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-shadow: .5px .5px 1px rgb(88, 88, 88);
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.card{
    background-color: #c4fcff93;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px 2px rgba(185, 185, 185, 0.616);
}
.card h5{
    text-transform: uppercase;
}

.card p{
    font-size: 1.09em;
}
.card-body a{
    color: #1b11a1b6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
/*--------------------------*/

/*          Nav             */
nav{
    width: 100%;
    padding: 10px;
    border-bottom: 1.5px solid rgba(80, 79, 79, 0.384);
    text-align: center;
}
nav #navBar{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: .8px .8px 2px rgb(90, 90, 90);
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0;
    padding-right: 12px;
    padding-left: 6px;
    border-radius: 5px;
    transition: .4s;
    
}
nav a::before{
    content: '• ';
}
nav a:hover{
    color: #ffffff;
    text-decoration: none;
}
/*--------------------------*/

/*          Imagens         */
#cabecalho #ico_face{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#cabecalho #ico_insta{
    position: absolute;
    bottom: 10px;
    right: 50px;
}
#cabecalho #ico_whats{
    position: absolute;
    bottom: 10px;
    right: 90px;
}
#cabecalho #ico_in{
    position: absolute;
    bottom: 10px;
    right: 130px;
}
.carrossel{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.carrossel img{
    width: 100%;
    height: 400px;
}
/*--------------------------*/

/*          Conteudo        */
main{
    height: 65vh; /* Temporario ate criar o conteudo*/
    width: 100%;
    background-color: beige;
}
#geral h3{
    text-align: center;
    font-size: 2.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*--------------------------*/

/*          Rodapé          */
footer{
    width: 100%;
    height: auto;
    background-color: #ffa60083;
}
footer h1{
    text-align: center;
    padding: 15px 0;
    font-size: 3em;
    color: #242424;
    font-family: cursive;
}
/*--------------------------*/

/*     seção Responsivo     */
@media screen and (max-width: 1027px){ 
    nav #navBar{
        width: 313px;
    }
    nav{
        box-sizing: initial;
    }
    nav #navBar{
        height: 80px;
    }
} 

@media screen and (max-width: 765px){
    #icos{
        display: none;
    }
}
/*--------------------------*/
