@font-face {
    font-family: FingerPaint;
    src: url(fontes/FingerPaint-Regular.ttf);} /*Fonte do header*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /*Fonte do Nav*/
/*          Geral           */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(241, 255, 248);
}
/*--------------------------*/

/*          Header          */

header{
    background-color: rgba(189, 255, 224, 0.733);
    position: relative;
    min-height: 160px;
    width: 100%;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-size: 3em;
    font-family: 'FingerPaint';
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.856);
}
/*          Login           */
#login{
    position: absolute;
    right: 2%;
    top: 3%;
}
#login a{
    text-decoration: none;
    color: black;
    text-shadow: .5px .5px 2px rgb(90, 90, 90);
    font-size: 1.2em;
    font-family: 'Montserrat';
    border-radius: 5px;
    transition: .4s;
    padding-left: 15px;
}
/*--------------------------*/

/*          Nav             */
nav{
    width: 100%;
    padding: 10px;
    border-bottom: 1.5px solid rgba(80, 79, 79, 0.384);
    text-align: center;
}
nav #navBar{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: .8px .8px 2px rgb(90, 90, 90);
    font-size: 1.2em;
    font-family: 'Montserrat';
    padding: 10px 0;
    padding-right: 12px;
    padding-left: 6px;
    border-radius: 5px;
    transition: .4s;
}
nav a::before{
    content: '• ';
}
nav a:hover{
    background-color: rgba(87, 152, 189, 0.219);
}
/*--------------------------*/

/*          Imagens         */
#cabecalho #ico_face{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#cabecalho #ico_insta{
    position: absolute;
    bottom: 10px;
    right: 50px;
}
#cabecalho #ico_whats{
    position: absolute;
    bottom: 10px;
    right: 90px;
}
#cabecalho #ico_in{
    position: absolute;
    bottom: 10px;
    right: 130px;
}
/*--------------------------*/

/*          Conteudo        */
main{
    height: 65vh; /* Temporario ate criar o conteudo*/
    width: 100%;
    background-color: beige;
}
/*--------------------------*/

/*          Rodapé          */
footer{
    width: 100%;
    height: auto;
    background-color: rgb(255, 228, 196);
}
footer h1{
    font-size: 3em;
    font-family: 'FingerPaint';
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.856);
}
/*--------------------------*/

/*     seção Responsivo     */
@media screen and (max-width: 1027px){ 
    nav #navBar{
        width: 313px;
    }
    nav{
        box-sizing: initial;
    }
    nav #navBar{
        height: 80px;
    }
} 

@media screen and (max-width: 765px){
    #icos{
        display: none;
    }
}
/*--------------------------*/