*{
    box-sizing: border-box;
}
#geral{
    position: relative;
    background-color: rgba(127, 207, 207, 0);
    width: 80%;
    margin: 20px auto;
}
.main-contents{
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 5px;
}

.artigo{
    
    width: 350px;
    /* height: 400px; */
    margin: 20px auto;
    text-align: justify;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 0 6px 2.5px rgb(156, 156, 156);
}
.artigo h5{
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

.card-body{
    padding: 0 !important;
}
.card-body p{
    padding-bottom: 20px !important;
}

.artigo img{
    margin: 0 auto;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1150px) {
    #geral{
        position: relative;
        background-color: rgba(127, 207, 207, 0);
        width: 73%;
        margin: 20px auto;
    }
    .main-contents{
        background-color: rgba(255, 255, 255, 0);
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: 2fr 2fr;
        padding: 5px;
    }
    
}