
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.card-conteudo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 80%;
    padding: 25px;
    text-align: justify;
    margin: 20px auto 40px auto;
    box-shadow: 0 0 10px 2px rgba(185, 185, 185, 0.616);
    border-radius: 10px;
}
h2{
    font-family: 'Roboto';
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-family: 'Roboto';
    font-size: 1.6em;
    padding: 10px;
}
h4{
    font-family: 'Roboto';
    font-size: 1.4em;
    padding: 10px; 
}
p{
    font-family: 'Open Sans';
    text-indent: 20px;
    padding-top: 10px;
    font-size: 1em;
}
.parag-interno{
    font-family: 'Open Sans';
    text-indent: 20px;
    font-size: 1em;
}
.code{
    margin-top: 10px;
}
.code .sec-code{ /*Para section menores */
    display: inline-block;
    padding: 5px 20px;
    border-radius: 6px;
    background-color: rgb(20, 45, 53);
    color: white;
}
.sec-code{ /*Para section maiores */
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(20, 45, 53);
    color: white;
}
.tags{
    color: rgb(106, 106, 245);
    font-family: 'Share Tech Mono';
}
.tagsf{
    color: rgb(106, 106, 245);
    font-family: 'Share Tech Mono';
}
.atrib{
    color: white;
    font-family: 'Share Tech Mono';
}
.param{
    color: rgb(38, 156, 107);
    font-family: 'Share Tech Mono';
}
.tags::before{
    content: '<';
    color: white;
}
.tagsf::before{
    content: '</';
    color: white;
}
.tags::after{
    content: '>';
    color: white;
}
.tagsf::after{
    content: '>';
    color: white;
}
.identNv1{
    margin-left: 20px;
}
.identNv2{
    margin-left: 40px;
}